.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 20px;
}

.catcard {
  padding: 16px 28px;
  background: white;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.3s;
}

.catcard:hover {
  background: #ff3f6c;
  color: white;
}
