.page {
  padding: 40px 0;
  background: #fafafa;
}

.section {
  margin-bottom: 80px;
}

/* Section header */
.sectionHeader {
  width: 100%;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeader h2 {
  font-size: 26px;
  font-weight: 600;
}

.seeMore {
  background: none;
  border: none;
  color: #ff3f6c;
  font-weight: 500;
  cursor: pointer;
}

/* Grid */
.grid {
   width: 100%;
  padding: 0 60px;
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

/* Card */
.card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.imageBox {
  position: relative;
  height: 260px;
  overflow: hidden;
  border-radius: 14px;
  background: #f2f2f2;
}

.imageBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease, opacity 0.3s ease;
}

.imageBox:hover img {
  transform: scale(1.05);
}

.discount {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #ff3f6c;
  color: white;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 6px;
}

/* Content */
.cardBody {
  padding: 14px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardBody h3 {
  font-size: 14px;
  margin-bottom: 6px;
}

.price {
  font-weight: 600;
}

.price span {
  margin-left: 8px;
  color: #888;
  font-weight: 400;
  text-decoration: line-through;
}

.rating {
  font-size: 13px;
  color: #666;
  margin: 4px 0 10px;
}

/* Actions */
.actions {
  margin-top: auto;
  display: flex;
  gap: 8px;
}

.actions button {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

.wishlist {
  background: #f5f5f5;
}

.cart {
  background: #f5f5f5;
}

.buy {
  background: #ff3f6c;
  color: white;
}
.skeleton {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    #f0f0f0 25%,
    #e6e6e6 37%,
    #f0f0f0 63%
  );
  animation: shimmer 1.2s infinite;
  border-radius: 14px;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
